<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
</head>
<body>
        <h1>
            Weather Update
        </h1>
        
        <form method="POST">
            {% csrf_token %}
            <div>
                <div>
                    {{ form.city_name }}
                </div>
                <div>
                    <button>
                    Add City
                    </button>
                </div>
        </form>
        {% for weather in weather_data %}
        <article>
            <div>
                <figure>
                    <img src="{{ weather.icon }}" alt="Image">
                </figure>
            </div>
            <div>
                <div>
                    <p>
                    <span>City Name: {{ weather.city }}</span>
                        <br>
                        <span>City Temperature: {{ weather.temperature }}</span>
                        <br> 
                        Weather Description: {{ weather.description }}
                    </p>
                </div>
            </div>
        </article>
        {% endfor %}
</body>
</html>